# Core
python-dotenv==1.0.1
numpy==1.26.4
pandas==2.2.1

# LangChain & LLM & Embeddings
langchain==0.1.16
langchain-community==0.0.34
langchain-core==0.1.46
langchain-openai==0.1.4
langchain-chroma==0.1.0
openai==1.23.6
tiktoken==0.6.0
httpx==0.27.2

# API endpoints
fastapi==0.110.2
uvicorn[standard]==0.29.0
pydantic==2.7.1
dotenv==1.0.1